<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="sv" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="sv" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="sv" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="sv" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>

<link href="https://live.webb.uu.se/common/CSS/v2-aggregated-css-base?baseUrl=www.uu.se" rel="stylesheet" type="text/css"/>
<link href="https://live.webb.uu.se/common/CSS/v2-aggregated-css-modules?baseUrl=www.uu.se" rel="stylesheet" type="text/css"/>
<link href="https://live.webb.uu.se/common/CSS/v2-aggregated-css-post?baseUrl=www.uu.se" rel="stylesheet" type="text/css"/>
<link href="https://live.webb.uu.se/common/CSS/v2-aggregated-css-media-queries" rel="stylesheet" type="text/css"/>
<link href="https://live.webb.uu.se/common/CSS/CUSTOM/v2/css-ettan" rel="stylesheet" type="text/css" />
<title>
{{title}}
</title>
<!--<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />-->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="utbildning Ettan sv centralised" id="top">
<div class="main-wrapper">
<div class="top-nav-dark">
<div class="responsive-menu-container-top"></div>
</div>
<header class="header-element">

<div class="top-stripe">
<nav class="container top-links clearfix">



<img src="https://www.uu.se/digitalAssets/242/242915_3central-menu-button-down.png" class="central-nav-icon down" alt=""/>
<img src="https://www.uu.se/digitalAssets/242/242915_3central-menu-button-up.png" class="central-nav-icon up" alt=""/>
</nav>
</div>
<div class="container top-content clearfix">
<a href="http://www.uu.se"  title="Uppsala universitets startsida" class="logo-wrap" accesskey="1" tabindex="2">
<img src="https://www.uu.se/digitalAssets/242/242915_3uu_logo.png" alt="Uppsala universitet" class="logo">
</a>
<img src="https://www.uu.se/digitalAssets/242/242915_3top-stripe-print.jpg" alt="" class="top-stripe only-print">
<img src="https://www.uu.se/digitalAssets/242/242915_3uu-logo-redbg.png" alt="Uppsala universitet" class="label-logo only-print">
<img src="https://www.uu.se/digitalAssets/242/242915_3uu_logo_print.png" alt="Uppsala universitet" class="logo only-print">

<div class="responsive-menu-container-bottom">
<nav class="top-nav-wrap container">
<div class="top-nav-uu-link-wrap">
<a href="http://www.uu.se/" class="is-berling top-nav-uu-link" title="Uppsala universitets startsida">
Uppsala universitet
</a>
</div>
</nav>
</div>
<div class="sigill"></div>
<div class="anno"></div>
</div>
<div class="local-nav-mobile-header clearfix local-nav-mobile-toggle">
<span class="local-nav-mobile-icon">
<img src="https://www.uu.se/digitalAssets/242/242915_3local-nav-arrow.png" class="local-nav-mobile-menu-icon" alt=""/>
</span>
</div>
</header>

<div class="l-main-container clearfix" role="main">
<div class="page-content container with-menu">
<div class="l-left-nav-wrap clearfix">
<nav class="left-nav clearfix">
</nav>
</div>
<div class="l-article-wrap">
<div class="page-tools-top clearfix">

</div>
<div class="breadcrumbs no-print">
<a class="breadcrumb-uu-link" href="http://www.uu.se" title="Uppsala universitet">Uppsala universitet</a>
</div>
<main>
<div class="main-content">


<!-- index_start -->
<div class="container wide-puff is-less-margin-bottom ">

{{message}}



</div>
<!-- index_stop -->

</div>
</main>
</div>
</div>
</div>
<footer class="footer-element">
<div class="footer-content-wrap container">
<div class="unit size1of3 ">
<h3>Vill du kontakta oss?</h3>
<div class="footer-content">
<a href="https://www.uppmax.uu.se/snic-uppmax-contact-information">Kontaktinformation</a>
</div>
</div>
<div class="unit size1of3 ">
<h3>Ska du besöka oss?</h3>
<div class="footer-content">
<p><a href="http://osm.org/go/0bGB5bSEG?m=">Här hittar du våra systemexperter</a></p>
<p></p>
</div>
</div>
<div class="unit size1of3 last">
<h3>Genvägar</h3>
<div class="footer-content">
<p><a  href="https://www.uppmax.uu.se/">UPPMAX</a><br /></p>

</div>
</div>
<div class="bg-city">
</div>
<p class="footer-site-information">
<span class="footer-site-entry">
© Uppsala universitet
<span class="separator"></span>
</span>
<span class="footer-site-entry">
Tel. <span class="tel">018-471 00 00</span> 
<span class="separator"></span>
</span>
<span class="footer-site-entry">
Box 256, 751 05 Uppsala
<span class="separator"></span>
</span>
<span class="footer-site-entry">
Org-no: 202100-2932
<span class="separator"></span>
</span>
<span class="footer-site-entry">
VAT-nr: SE202100293201
<span class="separator"></span>
</span>
<span class="footer-site-entry">
<a href="http://www.uu.se/om-uu/kontakta-oss/registrator">Registrator</a>
<span class="separator"></span>
</span>
<span class="footer-site-entry">
<a href="http://www.uu.se/om-webbplatsen">Om sidan</a>
</span>
<span class="footer-site-entry">
<span class="separator"></span>
Sidansvarig:&nbsp;<a href="https://katalog.uu.se/orginfo/?orgId=X61:11">UPPMAX</a>
</span>
</p>
</div>
<div class="footer-stripe"></div>
<a href="#top" class="footer-goto-top">
<span class="has-up-arrow">Gå till toppen av sidan</span>
</a>
</footer>
</div>
</body>
</html>

